/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: black;
  color: white;
}

/* Title font & color */
h1 {
  color: red;
  font-family: verdana,arial,sans-serif
}

/* Buttons Size & Shape */
button{
  padding: 35px;
  border-radius: 20px;
}

#gameButtonArea > button {
  width: 200px;
  height: 200px;
  margin: 2px;
}
/* Hiding the "end" button */
.hidden {
  display: none;
}

/*We will be giving color to our buttons. Plus giving a color change when pressed */
#button1 {
  background: lightgreen;
}
  #button1:active, #button1.lit {
    background: green;
  }

#button2 {
  background: lightblue;
}
 #button2:active, #button2.lit {
     background: blue;
   }

#button3 {
  background: pink;
}
 #button3:active, #button3.lit {
     background: red;
   }

#button4 {
  background: lightyellow;
}
 #button4:active, #button4.lit {
      background: yellow;
    }